# Lectura de archivo

 Esta función permite leer la base de datos "data.csv" y se almacena dentro de una lista, desde esta lista será más fácil acceder a la información para responder a cada pregunta del taller.

In [2]:
def importar_datos(ruta_datos):
  with open(ruta_datos, "r") as archivo:
    datos_taller = archivo.readlines()
    datos_taller = [elemento.replace("\n", "") for elemento in datos_taller] 
    datos_taller = [elemento.split("\t") for elemento in datos_taller] 

  return datos_taller

- Se utiliza la función anterior para leer los datos y guardarlos en una lista de nombre datos.

In [3]:
datos = importar_datos(ruta_datos = "data.csv")
datos

[['E', '1', '1999-02-28', 'b,g,f', 'jjj:12,bbb:3,ddd:9,ggg:8,hhh:2'],
 ['A', '2', '1999-10-28', 'a,f,c', 'ccc:2,ddd:0,aaa:3,hhh:9'],
 ['B', '5', '1998-05-02', 'f,e,a,c', 'ddd:2,ggg:5,ccc:6,jjj:12'],
 ['A', '3', '1999-08-28', 'a,b', 'hhh:9,iii:5,eee:7,bbb:1'],
 ['C', '6', '1999-12-01', 'f,g,d,a', 'iii:6,ddd:5,eee:4,jjj:12'],
 ['A', '7', '1998-07-28', 'c,d', 'bbb:2,hhh:0,ccc:4,fff:1,aaa:7'],
 ['A', '9', '1997-02-28', 'g,d,a', 'aaa:5,fff:8,ddd:2,iii:0,jjj:7,ccc:1'],
 ['B', '1', '1999-05-10', 'b,a', 'fff:3,hhh:1,ddd:2'],
 ['E', '2', '1997-04-12', 'd,e,a,f', 'eee:4,ccc:5,iii:9,fff:7,ggg:6,bbb:2'],
 ['B', '3', '1999-11-23', 'd,b,g,f', 'bbb:7,jjj:9,fff:5,iii:4,ggg:3,eee:3'],
 ['C', '7', '1998-01-17', 'd,c,f,b', 'hhh:6,eee:4,iii:0,fff:2,jjj:12'],
 ['C', '5', '1998-12-28', 'd,e,a,c', 'bbb:7,iii:6,ggg:9'],
 ['D', '3', '1999-10-15', 'g,e,f,b', 'bbb:9,aaa:3,ccc:6,fff:4,eee:2'],
 ['E', '8', '1998-11-01', 'c,f', 'aaa:8,ddd:5,jjj:12'],
 ['B', '9', '1999-08-12', 'd,b', 'ccc:7,jjj:6,fff:7,ddd:3,aaa:2'],
 ['D', '8', '1997-12-01', 'f,e', 'ccc:8,eee:6,bbb:9,ddd:3'],
 ['E', '3', '1997-07-28', 'e,b,f', 'bbb:6,iii:3,hhh:5,fff:4,ggg:9,ddd:2'],
 ['D', '5', '1998-08-12', 'g,a', 'hhh:4,jjj:5,ccc:9'],
 ['E', '8', '1999-08-24', 'e,c,f,a', 'ccc:1,iii:6,fff:9'],
 ['E', '9', '1998-01-23', 'e,a', 'bbb:9,aaa:3,fff:1'],
 ['E', '7', '1999-06-22', 'e,f', 'ddd:9,iii:2,aaa:4'],
 ['E', '3', '1999-04-24', 'c,b,g', 'ccc:5,fff:8,iii:7'],
 ['D', '5', '1999-06-25', 'c,f,a', 'eee:3,jjj:17,ddd:7'],
 ['A', '9', '1999-08-25', 'f,a,d', 'jjj:12,ggg:7,ccc:7,ddd:9,bbb:3'],
 ['E', '4', '1997-07-26', 'c,d', 'jjj:6,ccc:4,aaa:1,hhh:9,iii:7,ggg:8'],
 ['E', '6', '1997-09-24', 'e,d,c', 'fff:3,eee:6,iii:4,bbb:7,ddd:4,ccc:1'],
 ['A', '8', '1997-09-28', 'a,e,f', 'fff:0,ddd:5,ccc:4'],
 ['E', '5', '1999-06-22', 'c,a,g', 'ggg:6,hhh:3,ddd:9,ccc:10,jjj:7'],
 ['A', '6', '1999-07-29', 'f,e', 'hhh:6,jjj:13,eee:5,iii:7,ccc:3'],
 ['C', '0', '1999-08-22', 'f,c,a,g', 'eee:1,fff:4,aaa:2,ccc:7,ggg:10,ddd:6'],
 ['A', '9', '1998-04-26', 'b,f', 'ccc:6,aaa:9,eee:5,ddd:0,bbb:3'],
 ['D', '3', '1998-02-24', 'b,f', 'bbb:7,hhh:1,aaa:6,iii:4,fff:9,ddd:5'],
 ['E', '5', '1999-03-24', 'a,c', 'fff:3,ccc:1,ggg:3,eee:5'],
 ['B', '4', '1998-03-23', 'b,f,c', 'iii:7,ggg:3,ddd:0,jjj:8,hhh:5,ccc:1'],
 ['B', '6', '1999-04-21', 'f,a,e', 'hhh:6,ccc:3,jjj:9,bbb:8,ddd:7'],
 ['D', '7', '1999-02-29', 'a,f', 'aaa:1,fff:5,ddd:3'],
 ['B', '8', '1997-05-21', 'c,a', 'ddd:5,jjj:17,iii:7,ccc:10,bbb:4'],
 ['C', '9', '1997-07-22', 'c,a,e,f', 'eee:3,fff:2,hhh:6'],
 ['E', '1', '1999-09-28', 'e,d', 'fff:9,iii:2,eee:5'],
 ['E', '5', '1998-01-26', 'f,a,d', 'hhh:8,ggg:3,jjj:5']]

# Pregunta 1

- El siguiente código es una de las tantas opciones para resolver la pregunta 1 del taller:

In [15]:
len(datos)
int(datos[0][1])+int(datos[1][1])+int(datos[2][1])

8

In [6]:
range(len(datos))
sum([int(datos[0][1]),int(datos[1][1]),int(datos[2][1])])

8

In [9]:
range(5)

range(0, 5)

In [10]:
len(datos)

40

In [4]:
# Pregunta:
def pregunta_01():
    """
    Retorne la suma de la segunda columna.
    Rta/
    214
    """
    return

# Respuesta
def pregunta_01():
    lista = []
    for i in range(len(datos)):
      lista.append(int(datos[i][1]))
      resultado = sum(lista)

    return resultado

- Se comprueba que la función arroje el resultado correcto (214):

In [5]:
pregunta_01() # Resultado correcto

214

- Ahora se prueba con la función que el profesor tiene para validar ("tests"): cuando se ejecuta no aparece ningún error, es decir, que la respuesta es correcta.

In [14]:
def test_01():
    assert pregunta_01() == 214

test_01()

# Pregunta 2

- **Nota:** para responder a esta pregunta se crearon 3 funciones en total. La función "variable" permite seleccionar la primera columna, la función "suma_letra" permite contar para cada palabra cuántos registros existen y la función "resultado" consume las dos funciones anteriores, para finalmente arrojar una lista con tuplas que indican la letra y el conteo.

In [27]:
datos[1][0]

'A'

In [28]:
 def variable():
        lista = []
        for i in range(len(datos)):
            lista.append(datos[i][0])
        return lista

In [36]:
variable()[2] == "B" 

True + True

2

In [37]:
# Pregunta:
def pregunta_02():
    """
    Retorne la cantidad de registros por cada letra de la primera columna como la lista
    de tuplas (letra, cantidad), ordendas alfabéticamente.
    Rta/
    [
        ("A", 8),
        ("B", 7),
        ("C", 5),
        ("D", 6),
        ("E", 14),
    ]
    """
    return

# Respuesta:
def pregunta_02():
    
    letras = ["A", "B", "C", "D", "E"]
    
    # Función 1: Seleccionar la columna 1
    def variable():
        lista = []
        for i in range(len(datos)):
            lista.append(datos[i][0])
        return lista

    # Función 2: Conteo para cada letra
    def suma_letra(letra):
        prueba = []
        for i in range(len(variable())):
            prueba.append(variable()[i] == letra)
        res = sum(prueba)
        
        return res

    # Función 3: Resultado final 
    def resultado(x):
        letra = []
        conteo = []
        
        for i in range(len(x)):
            letra.append(letras[i])
            conteo.append(suma_letra(letra = letras[i]))
            
        res = [
            (letra[0], conteo[0]),
            (letra[1], conteo[1]),
            (letra[2], conteo[2]),
            (letra[3], conteo[3]),
            (letra[4], conteo[4])
            ]
        return res
    
    return resultado(x = letras)

- Se prueba la función para verificar que el resultado sea correcto:

In [38]:
pregunta_02()

[('A', 8), ('B', 7), ('C', 5), ('D', 6), ('E', 14)]

- Ahora se prueba con la función que el profesor tiene para validar ("tests"): cuando se ejecuta no aparece ningún error, es decir, que la respuesta es correcta.

In [17]:
def test_02():
    assert pregunta_02() == [
        ("A", 8),
        ("B", 7),
        ("C", 5),
        ("D", 6),
        ("E", 14),
    ]

# pregunta 3

In [48]:
def variable(num):
    lista = []
    for i in range(len(datos)):
        lista.append(datos[i][num])
    return lista

In [56]:
variable(num = 0)[0] == "E"

True

In [58]:
listap3 = []
for i in range(len(variable(num = 0))):
    listap3.append(variable(num = 0)[i] == "E")

In [67]:
int(variable(num = 1)[2]) * False

0

In [74]:
sumae = []
for i in range(len(listap3)):
    sumae.append(int(variable(num = 1)[i]) * listap3[i])

In [76]:
sum(sumae)

67

In [77]:


def sumacol2(letra):
    listaletras = []
    for i in range(len(variable(num = 0))):
        listaletras.append(variable(num = 0)[i] == letra)
    sumaletra = []
    for i in range(len(listaletras)):
        sumaletra.append(int(variable(num = 1)[i]) * listaletras[i])
    res = sum(sumaletra)
    return res

In [79]:
sumacol2(letra = "A")

53

In [83]:
def pregunta_03():
    def variable(num):
        lista = []
        for i in range(len(datos)):
            lista.append(datos[i][num])
        return lista

    def sumacol2(letra):
        listaletras = []
        for i in range(len(variable(num = 0))):
            listaletras.append(variable(num = 0)[i] == letra)
        sumaletra = []
        for i in range(len(listaletras)):
            sumaletra.append(int(variable(num = 1)[i]) * listaletras[i])
        res = sum(sumaletra)
        return res 

    letras = ["A", "B", "C", "D", "E"]
    letra = []
    sumatoria = []
    for i in range(len(letras)):
        letra.append(letras[i])
        sumatoria.append(sumacol2(letra = letras[i]))
    
    resultado = [
        (letra[0], sumatoria[0]),
        (letra[1], sumatoria[1]),
        (letra[2], sumatoria[2]),
        (letra[3], sumatoria[3]),
        (letra[4], sumatoria[4])
    ]
    return resultado

In [84]:
pregunta_03()

[('A', 53), ('B', 36), ('C', 27), ('D', 31), ('E', 67)]

# Pregunta 4

In [85]:
def variable(num):
        lista = []
        for i in range(len(datos)):
            lista.append(datos[i][num])
        return lista

In [91]:
variable(num = 2)

['1999-02-28',
 '1999-10-28',
 '1998-05-02',
 '1999-08-28',
 '1999-12-01',
 '1998-07-28',
 '1997-02-28',
 '1999-05-10',
 '1997-04-12',
 '1999-11-23',
 '1998-01-17',
 '1998-12-28',
 '1999-10-15',
 '1998-11-01',
 '1999-08-12',
 '1997-12-01',
 '1997-07-28',
 '1998-08-12',
 '1999-08-24',
 '1998-01-23',
 '1999-06-22',
 '1999-04-24',
 '1999-06-25',
 '1999-08-25',
 '1997-07-26',
 '1997-09-24',
 '1997-09-28',
 '1999-06-22',
 '1999-07-29',
 '1999-08-22',
 '1998-04-26',
 '1998-02-24',
 '1999-03-24',
 '1998-03-23',
 '1999-04-21',
 '1999-02-29',
 '1997-05-21',
 '1997-07-22',
 '1999-09-28',
 '1998-01-26']

In [95]:
mes = []
for i in range(len(variable(num = 2))):
    mes.append(variable(num = 2)[i].split("-")[1])

In [107]:
mes

['02',
 '10',
 '05',
 '08',
 '12',
 '07',
 '02',
 '05',
 '04',
 '11',
 '01',
 '12',
 '10',
 '11',
 '08',
 '12',
 '07',
 '08',
 '08',
 '01',
 '06',
 '04',
 '06',
 '08',
 '07',
 '09',
 '09',
 '06',
 '07',
 '08',
 '04',
 '02',
 '03',
 '03',
 '04',
 '02',
 '05',
 '07',
 '09',
 '01']

In [98]:
def suma_mes(x):
        prueba = []
        for i in range(len(mes)):
            prueba.append(mes[i] == x)
        res = sum(prueba)
        
        return res

In [101]:
suma_mes(x = "01")

3

In [115]:
def pregunta_04():
    def variable(num):
        lista = []
        for i in range(len(datos)):
            lista.append(datos[i][num])
        return lista

    mes = []
    for i in range(len(variable(num=2))):
        mes.append(variable(num=2)[i].split("-")[1])

    def suma_mes(x):
        prueba = []
        for i in range(len(mes)):
            prueba.append(mes[i] == x)
        res = sum(prueba)

        return res

    num_mes = []
    conteo = []
    meses = ["01", "02", "03", "04", "05", "06",
             "07", "08", "09", "10", "11", "12"]

    for i in range(len(meses)):
        num_mes.append(meses[i])
        conteo.append(suma_mes(x=meses[i]))

    res = [
        (num_mes[0], conteo[0]),
        (num_mes[1],  conteo[1]),
        (num_mes[2], conteo[2]),
        (num_mes[3], conteo[3]),
        (num_mes[4], conteo[4]),
        (num_mes[5], conteo[5]),
        (num_mes[6], conteo[6]),
        (num_mes[7], conteo[7]),
        (num_mes[8], conteo[8]),
        (num_mes[9], conteo[9]),
        (num_mes[10], conteo[10]),
        (num_mes[11], conteo[11])
    ]
    return res

In [116]:
pregunta_04()

[('01', 3),
 ('02', 4),
 ('03', 2),
 ('04', 4),
 ('05', 3),
 ('06', 3),
 ('07', 5),
 ('08', 6),
 ('09', 3),
 ('10', 2),
 ('11', 2),
 ('12', 3)]